name: Deploy
on: [push]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and push
        id: docker_build_api_gateway
        run: docker build . --file ./services/apigateway --tag abbiyudha/api-gateway:latest
      
      -
        name: Build and push
        id: docker_build_user_service
        run: docker build . --file ./services/user-service --tag abbiyudha/user-service:latest

      
      -
        name: Build and push
        id: docker_build_admin_service
        run: docker build . --file ./services/admin-service --tag abbiyudha/admin-service:latest

